@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
   }

.contact-section{
  padding: 40px 0;
  background:linear-gradient(rgb(19, 19, 19), rgba(19, 19, 19, 0.055)), url(/images/bg.jpg) no-repeat center;
  background-size: cover;

}

.contact-section h1{
  text-align: center;
  color: #fff;
}
.border{
  width: 100px;
  height: 10px;
  background: #272727;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #fff;
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #e45c01;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.btn{
  float: right;
}

@media (max-width: 500px) {
    .lg{
        font-size: 2rem;
    }
}